**/.snakemake
**/results
**/references
**/.cache
**/.conda
**/.java
**/.config
**/.condarc
**/workdir
profile/slurm
tests4/
**/.wget-hsts
**/*.log
**/*.out
run-test.sh
test.sh
**/__pycache__
.pytest_cache/
.tests/unit-temp
.vscode/
deseq2_emergency_dump.rda
mydata/
profile/slurm-francesco/
report.zip
snakemake_run
snakemake_test