*.fastq filter=lfs diff=lfs merge=lfs -text
*.fq filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bam filter=lfs diff=lfs merge=lfs -text
*.bai filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.gff3 filter=lfs diff=lfs merge=lfs -text
*.gff filter=lfs diff=lfs merge=lfs -text
*.gtf filter=lfs diff=lfs merge=lfs -text
**/STAR/ filter=lfs diff=lfs merge=lfs -text
**/salmonTE_quant/* filter=lfs diff=lfs merge=lfs -text
**/salmonTE_test/* filter=lfs diff=lfs merge=lfs -text
**/STAR/* filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
